/* BASIC SETUP FOR CSS STYLE */
* {margin: 0;padding: 0;outline: 0;box-sizing: border-box;}
body {font-family: 'Roboto Slab', serif;}
h1,h2,h3,h4,h5,h6,p,a,ul,ol,input{padding: 0;margin: 0;}
/* COMMON CSS */
.bg-gray {background-color: #edeff1 !important;}
.text-gray {color: #63676e !important;}
.text-black {color: #31353e !important;}
.bg-tomato {background-color: #dd4b2b !important;}
.bg-indigo {background-color: #4b4e73 !important;}
.bg-orang {background-color: #d75d0e !important;}
/* NAVIGATION CSS */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {padding: 6px 18px;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color: #ffffff !important;background-color: #dd4b2b;border-radius: 25px;}
.navbar-dark .active{color: #ffffff !important;background-color: #dd4b2b;border-radius: 25px;}
.navbar i{font-size: 28px;}
/* HEADER CSS */
header{background: url(../../resource/img/banner.png) no-repeat;background-size: cover;background-position: center center;}
header h1{font-size: 55px;margin-top: 125px;}
header p{font-size: 22px;}
/* FOOD MENU CSS */
.food-card p {margin-top: 5px;font-size: 12px;line-height: 1.8em;color: #D1D5D9 !important;}
.btn-readmore {color: #612316;padding: 10px 30px;border-radius: 25px;bottom: 0;outline: 0;}
/* FOOD NEWS CSS */
.food-news button{border-radius: 25px; transition: 0.3s;}
.food-news button:hover{background: #dd4b2b !important;color: #ffffff !important;}
.food-news h2{font-size: 28px;}
.food-news p{line-height: 2em;font-size: 14px;}
/* NEWSLETTER CSS */
.news-letter{background:linear-gradient(rgba(99,103,110,0.3),rgba(99,103,110,0.3)),url(../../resource/img/newsletter.png) no-repeat; background-size: cover;background-position: center top;}
.newsletter-form input{position: relative;padding: 12px 50px; border: none; outline: 0; background: #ffffff61;border-radius: 25px 0px 0px 25px;border: 1px solid #ffffff;}
.newsletter-form input[type="submit"] {border-radius: 25px;border: 1px solid #ffffff;color: #612316;position: absolute;right: 310px;}

/* BLANDIT RHONCUS CSS*/
.blandit-rhoncus button {padding-left: 50px;padding-right: 50px;
	border-radius: 25px;
}
.blandit-rhoncus h3 {
	font-size: 24px;
}
.blandit-rhoncus .left-side p, .blandit-rhoncus .sign-up-two .right-side p {
	font-size: 14px;
	color: #31353e !important;
}










































/* DEVICE RESPONSIVE CSS STYLE */

@media (min-width: 320px) and (max-width: 768px){
    body{text-align: center;}
    /* Hero Responsive */
    header h1 {font-size: 32px;margin-top: 0;}
    header p {font-size: 18px;margin: 0;}
    .food-card h3{font-size: 18px;}
    .food-card p{font-size: 12px;}
    /* Newsletter Responsive */
    #newsletter h3 {margin: 5px !important;}
    .newsletter-form input {position: static;border-radius: 25px;width: 100%;}
    .newsletter-form input[type="submit"] {position: static;margin-top: 15px;width: 60%;}

}